<% provide(:title, 'Edit User') %>
<h1>Update
      <%= @volunteer.name.possessive %>
  profile</h1>

<%= render 'form' %>
<% if current_user.admin? && !current_user?(@user) %>
      <%= link_to "Delete Volunteer", @volunteer, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>


