<% provide(:title, 'Volunteers') %>

<h1>Volunteers</h1>

<% if @volunteers.count < 1 %>
    <p>No volunteers found with the given search criteria</p>
<% else %>

    <ul class="listing">
      <li>
        <div class="col-md-2">
          <strong>Volunteer</strong>
        </div>
        <div class="col-md-2">
          <strong>City</strong>
        </div>
        <div class="col-md-2">
          <strong>Email</strong>
        </div>
        <div class="col-md-2">
          <strong>Phone</strong>
        </div>
        <div class="col-md-2">
          <strong>Last Workday</strong>
        </div>
      </li>

      <%= render @volunteers %>
    </ul>

    <%= will_paginate %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="actions pull-right">
      <%= link_to 'Search Again', search_volunteers_path, class: "btn btn-primary"%>
      <%= link_to 'New Volunteer', new_volunteer_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>