<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1><%= ORG_TITLE %></h1>

  <h2>
    <%= SITE_TITLE %>
  </h2>

  <%= link_to "Log In", '#', class: "btn btn-lg btn-primary" %>
</div>
