<% provide(:title, 'Donation Types') %>

<h1>All Donation Types</h1>

<% if @donation_types.count > 0 %>
    <ul class="listing">
      <%= render @donation_types %>
    </ul>
<% else %>
    No donation types found. Click New to create one.
<% end %>

<%= will_paginate %>

<div class="actions pull-right">
    <%= link_to 'New Donation Type', new_donation_type_path, class: "btn btn-primary" %>
    <%= link_to 'Back', root_path, class: "btn btn-primary" %>
</div>