<div class="row clickable" href="<%=edit_organization_type_path(organization_type)%>">
  <li>
    <div class="col-md-2 col-md-offset-1">
      <% if organization_type.inactive? %>
          <s>
      <% end %>
      <%= organization_type.name %>
      <% if organization_type.inactive? %>
          </s>
      <% end %>
    </div>
 </li>
</div>
