<p>Add a new waiver signed by:</p>


<div class="container dialog-container">
  <button class="btn btn-primary" onclick="<%= link_to_add_waiver_fields @volunteer.id %>">This volunteer</button>
  <%= link_to "A guardian", "#", id:"linkAddVolunteer", class: "btn btn-primary", data: {alias: "guardian"} %>
</div>


