<div class="container" id="addrchk">

  <h2>Address Validation</h2>
  <p><i>Just checks that address is valid, not that a person or business is actually there</i></p>

  <div class="address_check_message" id="addrchk_msg_container">
    <span id="addrchk_msg"></span>
  </div>

  <table class="no_row_border" id="addrchk_table">

  </table>

  <div >
    <p><i>Be sure to click Submit or Save afterward to save it</i></p>
  </div>

</div>