<div class="row clickable" href="<%=url_for controller: @class_name.underscore.pluralize, id: object.id, action: :edit %>">
  <li>
    <div class="col-md-2 col-md-offset-1">
      <% if object.try(:inactive) %>
        <s>
      <% end %>
      <%= object.name %>
      <% if object.try(:inactive) %>
        </s>
      <% end %>
    </div>

    <% if @inactive_switch %>
      <div class="hidden inactive_marker" data-inactive=<%= object.inactive? ? "inactive" : "" %> >
      </div>
    <% end %>


  </li>
</div>
