<% provide(:title, "New #{@class_name.titleize}") %>
<h1>New <%= @class_name.titleize %></h1>

<% if template.exists?('form',[],true) %>
    <%= render 'form' %>
<% else %>
    <%= render 'shared/object_form' %>
<% end %>
