<% provide(:title, "New #{@class_name.titleize}") %>
<h1>New <%= @class_name.titleize %></h1>

<% if lookup_context.template_exists?('form',lookup_context.prefixes,true) %>
    <%= render 'form' %>
<% else %>
    <%= render 'shared/object_form' %>
<% end %>
