<div class="row clickable" href="<%=edit_interest_path(interest)%>">
    <li>
      <div class="col-md-2 col-md-offset-1">
        <% if interest.inactive? %>
            <s>
        <% end %>
        <%= interest.name %>
        <% if interest.inactive? %>
            </s>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= interest.interest_category.name %>
      </div>
      <div class="col-md-2">
        <%= interest.highlight? ? "(highlight)" : "" %>
      </div>
    </li>
</div>
