<% provide(:title, 'Interests') %>

<h1>All Interests</h1>

<div class="container">
    <ul class="listing">
      <%= render @interests %>
    </ul>
</div>

<%= will_paginate %>

<div class="actions">
    <%= link_to 'New Interest', new_interest_path, class: "btn btn-primary" %>
    <%= link_to 'Back', root_path, class: "btn btn-primary" %>
</div>