<% provide(:title, 'Import Projects') %>
<h1>Import Projects</h1>

<h2>WARNING: This should only be done by those who know completely what they are doing!</h2>

<%= @import_path = import_projects_path
    render 'shared/import_form' %>