<% provide(:title, 'New Interest Category') %>
<h1>New Interest Category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Back', interest_categories_path %>
