<% if @organizations.count < 1 %>
    <p>No organizations found with the given search criteria</p>
<% else %>

    <div class="container-fluid">
        <ul class="listing">
          <%= render partial: "dialog_organization", collection: @organizations, as: 'organization' %>
        </ul>

    </div>

<% end %>
