<% provide(:title, 'Import Organizations') %>
<h1>Import Organizations</h1>

<h2>WARNING: This should only be done by those who know completely what they are doing!</h2>

<%= @import_path = import_organizations_path
    render 'shared/import_form' %>