<% provide(:title, 'Import Volunteers') %>
<h1>Import Volunteers</h1>

<h2>WARNING: This should only be done by those who know completely what they are doing!</h2>

<%= @import_path = import_volunteers_path
    render 'shared/import_form' %>