<% provide(:title, 'Organizations') %>

<h1>Organizations</h1>

<% if @organizations.count < 1 %>
    <p>No organizations found with the given search criteria</p>
<% else %>

    <ul class="listing">
      <%= render @organizations %>
    </ul>

    <%= will_paginate %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="actions pull-right">
      <%= link_to 'Search Again', search_organizations_path, class: "btn btn-primary"%>
      <%= link_to 'New Organization', new_organization_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>