<div class="row clickable" href="<%=workdays_path({project_id: project})%>">
  <li>
    <div class="col-md-2 col-md-offset-1">
      <% if project.inactive? %>
          <s>
      <% end %>
      <%= project.name %>
      <% if project.inactive? %>
          </s>
      <% end %>
    </div>
 </li>
</div>
