<div class="row clickable no-overflow" href="<%=workdays_path({project_id: project})%>">
  <li>
      <div class="col-md-5">
        <% if project.inactive? %>
            <s>
        <% end %>
        <%= project.name %>
        <% if project.inactive? %>
            </s>
        <% end %>
      </div>
      <div class="col-md-5">
        <%= project.description %>
      </div>

 </li>
</div>
