<div class="row clickable" href="<%=add_participants_workday_path(workday, project_id: @project.id)%>">
  <li>
    <div class="col-md-2 col-md-offset-1">
      <%= workday.name %>
    </div>
    <div class="col-md-3">
      <%= workday.workdate.strftime("%A, %B %-d, %Y") %>
    </div>
  </li>
</div>
