<% provide(:title, 'Workday Volunteers') %>
<h1>Add Volunteers</h1>
<h4 class="center">For <%= @project.name %> - <%= @workday.name %> <%= @workday.workdate %></h4>


<%= render 'add_volunteers_form' %>