<% provide(:title, 'Import Workdays') %>
<h1>Import Workdays</h1>

<h2>WARNING: This should only be done by those who know completely what they are doing!</h2>

<%= @import_path = import_workdays_path
    render 'shared/import_form' %>