<% provide(:title, 'Workdays') %>
<h1>Workdays</h1>
<h4 class="center">Choose a project</h4>



<div class="<%= NO_PAGINATION.blank? ? "container" : "container scrolled-listing" %>">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% if @projects.count > 0 %>
          <ul class="listing">
            <%= render partial: "workdays/project.html", collection: @projects %>
          </ul>
          <% if NO_PAGINATION.blank? %>
              <%= will_paginate @projects %>
          <% end %>
      <% else %>
          No projects found. Create a project first.
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-11">
    <div class="actions pull-right">
      <%= link_to 'Back', root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>