<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello from <% Utilities::Utilities.system_setting(:org_short_title) %> <% Utilities::Utilities.system_setting(:site_title) %></h1>
<p>
  A new pending volunteer, <% @pending_volunteer.name %>, has signed up.<br>
  Follow this link to verify: <% pending_volunteers_url  %>
</p>
</body>
</html>