<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("org.png", alt: ORG_TITLE), ORG_SITE, id: "logo" %>
    <%= link_to SITE_TITLE, '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>